.feats
{
    height: 80vh;
    width: 100%;
}


.feat-heading{
    font-size: 190px; 
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: 'poppins', sans-serif;
    line-height: 1;
    
}

.feat-heading span{
    color: #ff0000;
    font-size:300px;
    font-family: "Barriecito", cursive;
}


.features{
    width: 100%;

}

.feature{
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 10px;
    margin-top: 50px;


}

.video2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 0px;
    z-index: 1;
}
.video-container {
    position: relative; /* Ensures text can be placed above */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.odd
{
    grid-row-start: 1/2;
    grid-column-start: 1/2;
}

.odd{
    grid-row-start: 2/4;
    grid-column-start: 1/3;
}

.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    z-index: 2;
}





