.feats{
    display: flex;
    flex-wrap: wrap;
    margin-top: 250px;
    margin-bottom: 50px;
    width: 100%;
}

.feat-para{

    margin-top: 150px;
    font-size: 4rem;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 130px;
    font-family: Oswald;
    color: black;
    line-height: 1;
    
}

.span1{
    font-size: 0.5rem;
}


.feat{
    width: 100%;
    font-size: 4rem;
    /* font-family: Poppins; */
    font-weight: 600;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 150px;
    font-family: Roboto;
}

.span2{
    font-size: 3rem;
    font-family: Oswald;
    color: red;
    margin-right: 50px;
}


.div5{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 0.7rem;

}

.div6{
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    
}

.div6:hover{
    
    background-color: #f5f5f594;
    transition: 0.5s;
    
}

.hr1{
    width: 70%;
    margin:auto;
    
    margin-bottom: 55px;
    border: 1px solid black;

}


