/* .div-heading{

    height: 100vh;
    width: 100%;
    margin: 0; 
    padding: 0; 

}


.heading1{
    font-size: 220px;
    font-weight: 900;
    color: black;
    text-align: center;
    top: 0px;
    font-family: 'oswald', sans-serif;
    margin-bottom: 0.1px;
}

.heading2{
    font-size: 40px;
    font-weight: 300;
    color: black;
    text-align: center;
    font-family: 'poppins', sans-serif;
    margin-top: 0;
} */


body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.div-heading {
    top: 0;
    height: 60vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading1 {
    font-size: 180px; 
    font-weight: 900;
    color: black;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 120px;  
}

.heading2 {
    font-size: 50px;
    font-weight: 400;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1; 
    margin-top: 20px; 
    font-family: "poppins", serif;;
}


.box{
    position: fixed;
    text-align: center;
    padding: 10px;
    top: 20%;
    left: 10px;
    margin-top: 115px;
    height: 250px;
    width: 10px;
    z-index: 1;
}


.box a{
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    text-transform: uppercase;
}


.box p{
    color: #fff;
    position: relative;
    left: -10px;


}


.box p i{
    left: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}


.single-box{
    margin-left: -200px;
    width: 230px;
    padding: 0;
    display: inline-table;
    height: 0;
    transition: margin-left 0.5s;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
}

 .single-box:hover{
    margin-left: -30px;
    width: 230px;
}


.btn {
    position: absolute;  
    top: 53%;  
    left: 50%;  
    margin-left: -30px;
    transform: translate(-50%, -50%);  
    
    background-color: rgb(0, 0, 255);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 15px;
    width: 150px;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    border: 0;
    overflow: hidden; 
}


.btn:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
}


.nav{
    width: 100%;
    top: 0;
}

.login{
    position: absolute;
    height: 40px;
    width: 120px;
    right: 50px;
    font-weight: 750;
    top: 25px;
    background-color: transparent;
    border: 2.5px solid blue;
    color: blue;
    border-radius: 15px;
    font-family: poppins;
    transition: 0.5s;
}

.register{
    position: absolute;
    height: 40px;
    width: 120px;
    right: 200px;
    top: 25px;
    font-weight: 750;
    font-size: 15px;
    background-color: #fff;
    color: black;
    border: 0;
    border-radius: 15px;
    transition: 0.5s; 
    z-index: 1;
    font-family: poppins;
}

.login:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}

.register:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


