.Procedure{
    width: 100%;
    margin-top: 150px;
}


.heading3{
    font-size:  4rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
    margin: 0 150px;
    text-align: center;
}

.span3 {
    background: #FF0000;
    background: linear-gradient(to left, #FF0000 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

